nav {
  z-index: 1000;
  padding: 1.5rem 3rem !important;
  flex-grow: 1;
  margin-top: 1rem;
}

#navbarNav2 {
  margin-top: 0.85rem;
}

nav a {
  font-size: 1.2rem;
  padding: 0 3rem;
  font-weight: 300;
}

.navbar-brand img {
  height: 3.5rem;
}

.nav-item {
  padding: 0 1.5rem;
}

.login-link {
  color: #f57730;
}

.login-link:hover {
  color: #f9975e;
}
.logout-btn {
  padding-right: 0 !important;
}
.bienvenida {
  color: #1bb1c6;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}
.bienvenida button {
  margin-top: -1.25rem;
  padding: 0;
  color: #f57730;
  font-size: 15px;
}

@media (max-width: 767.98px) {
  nav {
    padding: 1rem;
  }

  nav a {
    padding: 1rem;
  }
}
