<nav
  class="navbar navbar-expand-lg navbar-dark bg-transparent"
  data-bs-theme="dark"
>
  <a class="navbar-brand" href="">
    <img src="assets/img/mental-b-logo-hor-white.png" alt="Logo" />
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav2"
    aria-controls="navbarNav2"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarNav2">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="articulo/9xFDgB0jsaDRoPz6qHSj">TDAH</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Jóvenes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Padres</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contactos</a>
      </li>
      <li *ngIf="loggedIn" class="nav-item">
        <div class="bienvenida">
          <p>
            Hola,
            {{ userEmail?.split("@")[0] }}!
          </p>
          <button class="btn btn-link logout-btn" (click)="logout()">
            Salir
          </button>
        </div>
      </li>
      <li *ngIf="!loggedIn" class="nav-item">
        <a class="nav-link login-link" href="login">Log in</a>
      </li>
    </ul>
  </div>
</nav>
