<section class="article-main-container">
  <ng-container *ngIf="articulo">
    <div
      class="art-image"
      [style.background-image]="
        imagenPortada
          ? 'linear-gradient(180deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.6)), url(' +
            imagenPortada +
            ')'
          : 'linear-gradient(180deg, rgba(0, 2, 61), rgba(27, 30, 110))'
      "
    ></div>
    <div class="grid">
      <div class="g-col-12">
        <h1>
          {{ articulo.titulo }}
        </h1>
      </div>

      <div class="g-col-12 g-col-lg-8">
        <div
          class="articulo-contenido-container"
          [innerHTML]="articulo.contenido | safeHtml"
        ></div>
      </div>

      <div class="g-col-12 g-col-lg-4 recursos-container">
        <h5>Recursos</h5>
      </div>
    </div>
  </ng-container>
</section>
