<section class="article-main-container">
  <div class="grid">
    <div class="g-col-12 g-col-lg-8">
      <ng-container *ngIf="articulo">
        <div>
          <div
            class="art-image"
            [style.background-image]="
              imagenPortada
                ? 'linear-gradient(180deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.4)), url(' +
                  imagenPortada +
                  ')'
                : 'linear-gradient(180deg, rgba(0, 2, 61), rgba(27, 30, 110))'
            "
          ></div>
          <div>
            <h1>
              <span>{{ articulo.titulo }}</span>
            </h1>
            <div
              class="articulo-contenido-container"
              [innerHTML]="articulo.contenido | safeHtml"
            ></div>
          </div>
        </div>
      </ng-container>
    </div>
    <div class="g-col-12 g-col-lg-4"><h5>Recursos</h5></div>
  </div>
</section>
