.crear-cuenta {
    font-size: 1.25rem;
    padding: 2rem 0;
}

.crear-cuenta button {
    font-size: 1.25rem;
    padding: 0;
    margin-bottom: .5rem;
    color: #0793a5;
}
.login-form-container{
    display: flex;
    flex-direction: column;
}

.login-form-container >*{
    max-width: 500px;
}