<div class="mb-3">
  <h1>Ingresa para disfrutar del contenido</h1>
  <div class="crear-cuenta">
    ¿No tienes cuenta? 
    <span
      ><button type="button" class="btn btn-link" routerLink="/signup">
        Regístrate</button
      > y comienza el viaje.</span
    >
  </div>
  <div class="login-form-container">
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Email</label>
      <input
        type="email"
        class="form-control"
        id="exampleFormControlInput1"
        [(ngModel)]="email"
      />
    </div>

    <div class="mb-3">
      <label for="inputPassword5" class="form-label">Password</label>
      <input
        type="password"
        id="inputPassword5"
        class="form-control"
        aria-labelledby="passwordHelpBlock"
        [(ngModel)]="password"
      />
    </div>
  </div>

  <button type="button" class="btn btn-primary btn-md" (click)="login()">
    Ingresar
  </button>
  <div
    class="alert alert-danger"
    role="alert"
    *ngIf="errorMessage"
    [innerHtml]="errorMessage"
  ></div>
</div>
