<div class="grid">
  <div class="g-col-0 g-col-xxl-2"></div>
  <div class="header g-col-12 g-col-xl-10 g-col-xxl-8">
    <a href=""
      ><img src="../../assets/img/mentalb_navbar_logo.png" class="header-logo"
    /></a>
    <div class="header-name"><h1>Mental Behaviour</h1></div>
  </div>
</div>
<div class="grid navbar-container">
  <div class="g-col-0 g-col-xxl-2"></div>
  <div class="g-col-12 g-col-xl-10 g-col-xxl-8">
    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid">
        <button
          class="navbar-toggler navbar-dark"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page">TDAH</a>
            </li>
            <li class="nav-item">
              <a class="nav-link">Jóvenes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link">Padres</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</div>
