.supporting-section-container {
  display: flex;
  height: 25rem;
  flex-direction: row;
  flex-wrap: wrap;
}

.supporting-section-container > * {
  max-width: 50%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
  padding: 2rem;
}

.background-image {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  background-image: url("../../../../assets/img/nino-mind.png");
  margin-bottom: -10rem;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}
