<h2>Recomendados</h2>

<div class="articulo-container">
  <app-articulo
    [imageUrl]="'../../assets/img/art_1.jpeg'"
    [imageAlt]="'Image'"
    [title]="'Social skills'"
    [paragraph]="
      'Training, behavioural modification, and medication may have some limited beneficial effects in peer relationships'
    "
    [linkUrl]="'#'"
    [linkText]="'Saber más'"
  ></app-articulo>
  <app-articulo
    [imageUrl]="'../../assets/img/art_1.jpeg'"
    [imageAlt]="'Image'"
    [title]="'Social skills'"
    [paragraph]="
      'Training, behavioural modification, and medication may have some limited beneficial effects in peer relationships'
    "
    [linkUrl]="'#'"
    [linkText]="'Saber más'"
  ></app-articulo>
  <app-articulo
    [imageUrl]="'../../assets/img/art_1.jpeg'"
    [imageAlt]="'Image'"
    [title]="'Social skills'"
    [paragraph]="
      'Training, behavioural modification, and medication may have some limited beneficial effects in peer relationships'
    "
    [linkUrl]="'#'"
    [linkText]="'Saber más'"
  ></app-articulo>
</div>
