.landing-page {
    position: relative;
    height: 100vh;
    overflow: hidden;
  }
  
  .background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6) 0%, rgba(255, 255, 255, 0) 100%), url('../../../assets/img/welcome.jpg');
  }
  
  .content {
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
    text-align: left;
    max-width: 30%;

  }
  
  .main-title {
    font-size: 4rem;
    margin-bottom: 2rem;
    color:white;
  }
  
  .sub-title {
    font-size: 2rem;
    margin-bottom: 2rem;
    color:white;
  }
  
  .buttons {
    display: flex;
    justify-content: flex-start;
    gap: 1.5rem;
  }
  
  .button {
    padding: 1rem 2rem;
    font-size: 1.5rem;
    border: none;
    border-radius: 5px;
    background-color: #6eaab7;
    color: #fff;
    cursor: pointer;
    min-width: 12rem;
  }

  .button:hover {
    background-color: #a9ccd3;
  }
  