<div class="billboard">
  <div class="background-image"></div>
  <div class="grid" style="z-index: 1">
    <div class="g-col-2"></div>
    <div class="g-col-8">
      <div class="billboard-cta-container">
        <h1 class="sub-title">¿Te gustaría saber tu porcentaje de TDAH?</h1>
        <div class="buttons">
          <button class="button test-btn">¡Claro!</button>
          <button class="button" (click)="scrolltoDestacados('destacados')">
            Tal vez después
          </button>
        </div>
      </div>
    </div>
    <div class="g-col-2"></div>
  </div>
</div>
