<img class="billboard-img" src="../../assets/img/elefantitoyay.jpeg" />
<div class="billboard-content">
  <div>
    <h2>Romanesco broccoli</h2>
    <p>
      Is an edible flower bud of the species Brassica oleracea. It is chartreuse
      in color, and has a form naturally approximating a fractal. When compared
      to a traditional cauliflower, it has a firmer texture and nutty flavor.
    </p>
  </div>
  <button type="button" class="btn btn-primary btn-lg billboard-btn">
            Test        
  </button>
</div>
