.billboard-img {
    width: 100%;
}
.billboard-content{
    padding-block: 1rem;
}
.billboard-btn {
background-color: #6eaab7;
border-color: #6eaab7;
}
.billboard-btn:hover{
    background-color: #45818e;
}

.billboard-content {
    margin-bottom: 2rem;
}