.article-main-container {
    margin-top: 9rem;
}
@media (max-width: 1450px) {
  .article-main-container {
    margin-top: 10rem;
}
}
@media (max-width: 576px) {
    .g-sm-start-0 {
      margin-left: 0 !important;
    }
  }
  